<!-- Run the aruco_detect node -->
<launch>
  <!-- namespace for camera input -->
  <arg name="camera" default="/usb_cam"/>
  <arg name="image" default="image_raw"/>
  <arg name="transport" default="compressed"/>
  <arg name="fiducial_len" default="0.14"/>
  <arg name="dictionary" default="7"/>
  <arg name="do_pose_estimation" default="true"/>
  <arg name="ignore_fiducials" default="" />
  <arg name="fiducial_len_override" default="" />

  <node pkg="tf" type="static_transform_publisher" name="iris_and_fpv_cam" args="0.0 0.0 -0.05 1.5708 0 0 fcu_frd usb_cam 100" />

  <node pkg="tf" type="static_transform_publisher" name="fix_fcu_frd_with_baselink_frd" args="0 0 0 0 0 0 base_link_frd fcu_frd 100"/>

  <node pkg="tf" type="static_transform_publisher" name="fix_robot_with_cam" args="0.0 0.0 -0.05 -1.5708 0 3.14 usb_cam robot_base_fru 100" />


  <node pkg="aruco_detect" name="aruco_detect"
    type="aruco_detect" output="screen" respawn="false">
    <param name="image_transport" value="$(arg transport)"/>
    <param name="publish_images" value="true" />
    <param name="fiducial_len" value="$(arg fiducial_len)"/>
    <param name="dictionary" value="$(arg dictionary)"/>
    <param name="do_pose_estimation" value="$(arg do_pose_estimation)"/>
    <param name="ignore_fiducials" value="$(arg ignore_fiducials)"/>
    <param name="fiducial_len_override" value="$(arg fiducial_len_override)"/>
    <remap from="/camera/compressed" 
        to="$(arg camera)/$(arg image)/$(arg transport)"/>
    <remap from="/camera_info" to="$(arg camera)/camera_info"/>
  </node>
</launch>
